/*------------------------ MAIN ------------------------*/

body {
	font-family: 'Droid Sans', sans-serif;
	margin: 0px;
}

/*------------------------ LEFT MENU SECTION ------------------------*/

.left_section {
	position: absolute;
	background-color: #ddd;
	width: 0%;
	height: 60%;
	top: 20%;
	z-index: 1;
	display: none;

	-moz-border-radius-bottomright: 20px 20px;
	border-bottom-right-radius: 20px 20px;
}

#hide_menu {
	position: absolute;
	background-color: #6D6A6A;
	width: 50px;
	height: 50px;
	right: 0px;
	z-index: 2;
}
#show_menu {
	position: absolute;
	background-color: #6D6A6A;
	width: 20px;
	height: 50px;
	top: 20%;
	left: 0px;
	z-index: 2;
}

.menu_item {
	width: 96%;
	height: 30px;
	background-color: #eee;
	padding-top: 10px;
	padding-left: 4%;
	cursor: pointer;
}

/*------------------------ TOP SECTION ------------------------*/

.top_section {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 25%;
	top: 0px;
	z-index: 0;
}

/*------------------------ BOTTOM SECTION ------------------------*/
.bottom_section {
	position:absolute;
	background-color: #fff;	
	width: 100%;
	height: 75%;
	bottom: 0px;
	z-index: 0;
}

/*------------------------ LOOPER ------------------------*/

.loop_section {
	color: white;
	position: relative;
	width: 20%;
	height: 66px;
	padding: 3px;
	background-color: #ddd;
	left: 40%;

	/* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.loop_light {
	width: 60px;
	height: 60px;
	background-image:url('../img/loop_light_bw.png');
}

.loop_countdown {
	position: fixed;
	width: 99%;
	height: 99%;
	font-color: black;
	font-size: 300px;
	z-index: 100;
	padding-top: 10%;
	text-align:center;
}
.loop_bar_display {
	position: absolute;
	/*font-size: 30px;*/
	right: 5px;
	/*top: 40%;*/
	/*padding-left: 10px;*/
}
.loop_bpm {
	position: absolute;
	font-size: 30px;
	right: 5px;
	top: 40%;
	/*padding-left: 10px;*/
}
.loop_bpm i {
	font-size: 15px;
}

.loop_startstop {
	position: absolute;
	font-size: 30px;
	left: 15px;
	top: 40%;
	/*margin-top: 25px;*/
	display: block;
	cursor: pointer
}
.loop_bars {
	position: absolute;
	font-size: 30px;
	left: 15px;
	/*top: 22%;*/
	/*margin-top: 25px;*/
	display: block;
	cursor: pointer
}


/*------------------------ BACKING TRACKS ------------------------*/

.backing_section {
	color: white;
	position: relative;
	width: 20%;
	height: 20px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #eee;
	left: 40%;


}

.backing_startstop {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: #000;
	left: 10px;
	cursor: pointer;
}

.backing_file {
	color: black;
	position: absolute;
	font-size: 30px;
	left: 40px;
	/*top: 22%;*/
	/*margin-top: 25px;*/
	display: block;
	cursor: pointer
}

/*------------------------ PEDALS ------------------------*/

.pedal {
	position: absolute;
	left: 50%;
	width: 215px;
	height: 347px;
}

.background {
	position: absolute;
	padding-top: 0px;
	background-size:215px 347px;
	width: 215px;
	height: 347px;
}
.delay_background {
	background-image:url('../img/royaldelay_base.png');
}

.drive_background {
	background-image:url('../img/japdrive_base.png');
}

.knob {
	position: absolute;
	background-image:url('../img/knob_1.png');
	background-size:60px 60px;
	width: 60px;
	height: 60px;
}

.delay_time {
	top: 20px;
	left: 30px;

}
.delay_volume {
	top: 20px;
	right: 30px;
}
.delay_feedback {
	top: 70px;
	right: 78px;
}

.drive_amount {
	top: 55px;
	left: 78px;

}

.slider {
	position: absolute;
	left: 25%;
	top: 75px;
}
.ui-slider {
	width: 50%;
}

.slider.delay_time {
	float: left;
	top: 50px;
	height: 100px;
	width: 10px;
	left: 46px;
}
.slider.delay_volume {
	float: left;
	top: 50px;
	height: 100px;
	width: 10px;
	left: 92px;
}
.slider.delay_feedback {
	float: left;
	top: 50px;
	height: 100px;
	width: 10px;
	left: 138px;
}

.light {
	position: absolute;
	background-image:url('../img/royaldelay_light.png');
	background-size:215px 347px;
	width: 215px;
	height: 347px;
	display: none;
}
.switch {
	position: absolute;
	background-image:url('../img/royaldelay_switch.png');
	background-size:56px 56px;
	width: 56px;
	height: 56px;
	bottom: 75px;
	margin-left: 80px;
}
.text {
	font-size: 15px;
	position: absolute;
	bottom: 2px;
	left: 5px;
	color: white;
}